@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .8s;
}

#pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


/* Cabeçalho */

header, footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: beige;
    background-color: #2A2B2A;
}

#logo {
    cursor: default;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

#opcoesPc ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

#opcoesPc a {
    text-decoration: none;
    color: beige;
}

#opcoesPc a:hover {
    text-decoration: overline;
    text-decoration-color: beige;
}


/* Mobile */

#menuMobile {
    display: none;
}

/* Fim Cabeçalho */ 


/* Conteúdo */

main {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo {
    font-weight: 900;
    font-size: 16pt;
}

.divisao {
    width: 30%;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid #F5124B;
}


/* Cartão de Destaque */

#destaque {
    margin: 40px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #2A2B2A;
    border-radius: 20px;
}

#destaque, #info {
    width: 80%;
}

#destaque h3 {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 10px;
}

img, picture {
    width: 100%;
}

#destaque p {
    text-align: center;
    color: #666666;
}

.btnInfo {
    width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    color: beige;
    background-color: #F5124B;
}

.btnInfo:hover {
    cursor: pointer;
    width: 150px;
    background-color: #ff4977;
}

#info {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

/* Fim Cartão Destaques */


#galeriaArtes {
    width: 100%;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artes {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
}

section {
    width: 32%;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #2A2B2A;
}

.descricaoArte {
    color: #666666;
}

#comprimir {
    display: none;
}

/* Fim Conteúdo */