* {
    transition: .8s;
}

main {
    width: 100%;
    padding: 10px;
}

#destaque {
    width: 100%;
}

#info {
    width: 90%;
}

.divisao {
    width: 80%;
}

#artes {
    width: 100%;
}

section {
    width: 30%;
}